h1 {
  color: green;
  font-style: italic;
}

.listaus {
  color: rgb(29, 0, 0);
  padding-top: 0.2em;
  button {
      margin-left: 1em;
  }
  button:hover {
      background-color: rgb(255, 190, 190);
  }
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}